<div class="container bundles">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="divider"></div>
      <h1>PRE-ORDER A BUNDLE BELOW TO ENTER TO  WIN WEEKLY  PRIZES  FROM  THE BAND</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle1.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle2.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle3.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle4.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle5.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="http://found.ee/findyourselfpre" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle6.jpg">
      </a>
    </div>
<!--     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="#" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle7.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="#" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle8.jpg">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a href="#" target="_blank">
        <img class="full-w bundle" src="https://s3.amazonaws.com/myfangate.com/cncc/bundle9.jpg">
      </a>
    </div> -->
  </div>
</div>
