<div class="header-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="headline">PRE-ORDER ‘GET  LOST, FIND  YOURSELF’</br> + WIN WEEKLY  PRIZES  FROM</h1>
        <div class="divider"></div>
      </div>
      <div class="col-lg-12 text-center">
        <img class="logo full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/cncc/chunk_logo.png">
      </div>
    </div>
    <div class="row album-mini">
      <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
        <img class="bordered shadowed album full-w" src="https://s3.amazonaws.com/myfangate.com/cncc/album.jpg">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
        <h1 class="new-album text-shadow">NEW ALBUM 'GET LOST, FIND YOURSELF'</h1>
        <h3 class="available text-shadow">AVAILABLE</h3>
        <h1 class="available text-shadow"><img class="flag" src="https://s3.amazonaws.com/myfangate.com/asitis/unionjack.png">MAY 18TH <br class="date-break"/><img class="flag" src="https://s3.amazonaws.com/myfangate.com/asitis/usflag.png">MAY 19TH</h1>
      </div>
    </div>
  </div>
</div>
